src/test/java/test.wsdl

<wsdl:definitions xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://esb.hxlife.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://esb.hxlife.com">
    <wsdl:documentation>Please Type your service description here</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://esb.hxlife.com">
            <xs:element name="yx0157">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="in" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="yx0157Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="yx0157Response">
        <wsdl:part name="parameters" element="ns:yx0157Response"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="yx0157Request">
        <wsdl:part name="parameters" element="ns:yx0157"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Yx0157PortType">
        <wsdl:operation name="yx0157">
            <wsdl:input message="ns:yx0157Request" wsaw:Action="urn:yx0157"></wsdl:input>
            <wsdl:output message="ns:yx0157Response" wsaw:Action="urn:yx0157Response"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Yx0157Soap11Binding" type="ns:Yx0157PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="yx0157">
            <soap:operation soapAction="urn:yx0157" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="com.hxlife.esb.inner.yx.Yx0157">
        <wsdl:port name="Yx0157HttpSoap11Endpoint" binding="ns:Yx0157Soap11Binding">
            <soap:address location="http://10.0.14.166:9990/com.hxlife.esb.inner.yx.Yx0157"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>